.section-new-song {
  background-color: #f3f3f3;
  height: 40rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 1.6rem;
  position: relative;
}

.figure-out {
  overflow: hidden;
  position: relative;
  cursor: pointer;
  display: grid;
  grid-template-columns: 1fr 1.5fr 0.5fr;
  row-gap: 0;
  column-gap: 0;
  width: 25rem;
}

.container {
  grid-row: 1/3;
  grid-column: 1/2;
}

.song-name {
  grid-row: 1/2;
  grid-column: 2/3;
}

.singer-names {
  grid-row: 2/3;
  grid-column: 2/3;
  white-space: nowrap; /* 禁止换行 */
  overflow: hidden; /* 隐藏溢出内容 */
  text-overflow: ellipsis;
  color: #878787;
}

.song-time {
  grid-row: 1/3;
  grid-column: 3/4;
  align-self: center;
  font-size: 1rem;
  color: #878787;
}

.section-new-song-img {
  height: 15rem;
  transition: all 0.3s ease-out;
}

.song-name:link,
.song-name:visited {
  display: inline-block;
  margin-top: 1.2rem;
  font-size: 1rem;
  cursor: pointer;
  text-decoration: none;
  transition: all 0.3s;
  color: black;

  white-space: nowrap; /* 禁止换行 */
  overflow: hidden; /* 隐藏溢出内容 */
  text-overflow: ellipsis;
}

.song-name:active,
.song-name:hover {
  color: #31c27c;
  white-space: nowrap; /* 禁止换行 */
  overflow: hidden; /* 隐藏溢出内容 */
  text-overflow: ellipsis;
}

.singer-name:link,
.singer-name:visited {
  display: inline-block;
  margin-top: 1.2rem;
  font-size: 1rem;
  cursor: pointer;
  text-decoration: none;
  transition: all 0.3s;
  color: #878787;
  white-space: nowrap; /* 禁止换行 */
  overflow: hidden; /* 隐藏溢出内容 */
  text-overflow: ellipsis;
}

.singer-name:active,
.singer-name:hover {
  color: #31c27c;
  white-space: nowrap; /* 禁止换行 */
  overflow: hidden; /* 隐藏溢出内容 */
  text-overflow: ellipsis;
}

.img-container {
  overflow: hidden;
  position: relative;
  cursor: pointer;
}

.img-container::after {
  display: block;
  content: "";
  position: absolute;
  top: 50%;
  left: 50%;
  width: 3.6rem;
  height: 3.6rem;
  border-radius: 50%;
  transform: translate(-50%, -50%);
  background-image: url("svg/cover_play.png");
  background-size: cover;
  opacity: 0;
  transition: all 0.5s;
}

.img-container:hover::after {
  display: block;
  width: 4.5rem;
  height: 4.5rem;
  transform: translate(-50%, -50%);
  opacity: 1;
}

.section-new-song-img {
  height: 6.4rem;
  transition: all 0.3s ease-out;
}

.img-container:hover .section-new-song-img {
  transform: scale(1.1);
}

.left-btn {
  border: none;
  background-color: #ececec;
  padding: 3rem 1.5rem;
  position: absolute;
  top: 50%;
  left: 0;
  transform: translate(-100%, -50%);
  display: flex;
  justify-content: center;
  align-items: center;
  &:hover {
    background-color: #e1e1e1;
  }
  transition: all 0.5s;
  opacity: 0.2;
  cursor: pointer;
}

.right-btn {
  border: none;
  background-color: #ececec;
  padding: 3rem 1.5rem;
  position: absolute;
  top: 50%;
  right: 0;
  transform: translate(100%, -50%);
  display: flex;
  justify-content: center;
  align-items: center;
  &:hover {
    background-color: #e1e1e1;
  }
  transition: all 0.5s;
  opacity: 0.5;
  cursor: pointer;
}

.left-icon {
  width: 3.2rem;
  height: 3.2rem;
}

.right-icon {
  width: 3.2rem;
  height: 3.2rem;
}

.section-new-song:hover .left-btn {
  transform: translate(0, -50%);
  opacity: 1;
}

.section-new-song:hover .right-btn {
  transform: translate(0, -50%);
  opacity: 1;
}

.img-box-sub1 {
  display: grid;
  gap: 1.4rem;
  transition: all 0.4s ease-out;
  grid-template-rows: 1fr 1fr 1fr;
  grid-auto-flow: column;
}

.img-box {
  display: flex;
  gap: 1.4rem;
  width: 79.2rem;
  overflow: hidden;
  margin-top: 1.4rem;
}

.playall-btn {
  background-color: #f3f3f3;
  border: 0.1rem solid #c9c9c9;
  padding: 0.6rem 1.2rem;
  font-size: 1.2rem;
}

.second-link-wrap {
  flex: 1;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 2.4rem;
}
