/*************************************************/
/*Header*/
/*************************************************/

.first-header {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #ffffff;
  /*want to be sticky later*/
  height: 6.4rem;
  padding: 0 4.8rem;
  position: relative;
}

.logo {
  height: 3.2rem;
  margin-right: 1.2rem;
}
/*************************************************/
/*导航栏*/
/*************************************************/

.header{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 0;
}
.main-nav-li-selected{
  display: flex;
  height: inherit;
  justify-content: center;
  align-items: center;
}
.main-nav-list {
  list-style: none;
  display: flex;
  align-items: center;
  height: 6.4rem;
  gap: 1.6rem;
}

.main-nav-link:link,
.main-nav-link:visited {
  display: inline-block;
  text-decoration: none;
  color: #333;
  //font-weight: 500;
  font-size: 1.2rem;
  transition: all 0.3s;
}

.main-nav-link:hover,
.main-nav-link:active {
  color: #31C27C;
}

.main-nav-link.main-nav-link-selected{
  background-color: #31C27C;
  color: #fff;
  align-self: stretch;
  height: auto;
  padding: 0 1.2rem;
  display: flex;
  justify-content: center;
  align-items: center;
}

.main-nav-link-selected.main-nav-link:hover,
.main-nav-link-selected.main-nav-link:active {
  color: #fff;
}
/*为了优先级更高使用end选择器*/
.main-nav-link.nav-cta:link,
.main-nav-link.nav-cta:visited {
  display: inline-block;
  padding: 1.2rem 2.4rem;
  border-radius: 9px;
  color: #fff;
  background-color: #e67e22;
}

.main-nav-link.nav-cta:hover,
.main-nav-link.nav-cta:active {
  background-color: #cf711f;
}

/* 手机 */
.btn-mobile-nav {
  border: none;
  background: none;
  cursor: pointer;
  display: none;
}

.icon-mobile-nav {
  height: 4.8rem;
  width: 4.8rem;
  color: #333;
}

.icon-mobile-nav[name="close-outline"] {
  display: none;
}

/*导航栏粘着*/
.sticky .header {
  position: fixed;
  top: 0;
  bottom: 0;
  height: 8rem;
  padding-top: 0;
  padding-bottom: 0;
  width: 100%;
  background-color: rgba(255, 255, 255, 0.9);
  z-index: 999;
  box-shadow: 0 1.2rem 3.2rem rgba(0, 0, 0, 3%);
}


.qiangtequan{
  position: relative;
}

.qiangtequan::after{
  content: "抢特权";
  position: absolute;
  color: #A6783B;
  font-size: 0.7rem;
  font-weight: 600;
  display: flex;
  justify-content: center;
  align-items: center;
  top:50%;
  left:50%;
  width: 25px;
  height: 9px;
  transform: translate(30%, -210%);
  background-color: #EED29B;
  z-index: 9999;
}

.search-input{
  line-height: 2.4rem;
  height: 2.4rem;
  font-size: 1.2rem;
  padding: 0.4rem;
  border: none;
  outline: none;
}
.search-box{
  display: flex;
  justify-content: center;
  align-items: center;
  border: 0.1rem solid #C9C9C9;
  border-radius: 0.2rem;
  padding-left: 0.2rem;
  padding-right: 0.2rem;
}
.search-input::placeholder{
  color: #C9C9C9;
  font-size: 1.2rem;
}
.search-btn{
  border: none;
  background-color: #fff;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
}

.search-btn-icon{
  color: #878787;
  height: 1.6rem;
  width: 1.6rem;
  &:hover{
    color:#31C27C;
  }
}

.login-btn{
  border: none;
  background-color: inherit;
  cursor: pointer;
  &:hover{
    color: #31C27C;
  }
}



/*************VIP MENU***********/
.menu-vip{
  position: relative;
}

.vip-label{
  color:#fff;
  display: inline-block;
  background-color: #31C27C;
  border: #31C27C;
  font-size: 1rem;
  padding: 0.8rem;
  border-radius: 0.2rem;
  width: 8.6rem;
  text-align: center;
  position: relative;
}

.menu-vip:hover .vip-super-btn{
  display: block;
}

.menu-vip:hover .vip-best-btn{
  display: block;
}

.menu-vip:hover .vip-down-icon{
  display: none;
}
.menu-vip:hover .vip-up-icon{
  display: inline;
}

.vip-super-btn{
  display: none;
  position: absolute;
  bottom: 0;
  color: #000;
  background-color: #fff;
  border: 0.1rem solid #C9C9C9;
  font-size: 1rem;
  padding: 0.8rem 0;

  width: 8.6rem;
  transform: translateY(96%);
  &:hover{
    background-color: #31C27C;
    color:#fff;
  }
}


.vip-best-btn{
  display: none;
  position: absolute;
  bottom: 0;
  color: #000;
  background-color: #fff;
  border: 0.1rem solid #C9C9C9;
  font-size: 1rem;
  padding: 0.8rem 0;
  width: 8.6rem;
  border-top-color: rgba(0,0,0,0%);
  border-radius: 0 0 0.2rem 0.2rem;
  transform: translateY(195%);
  &:hover{
    background-color: #31C27C;
    color:#fff;
  }
}

.vip-up-icon{
  display: none;
  position: absolute;
  color: #fff;
  right: 0;
  top:50%;
  transform: translate(-30%,-50%);
}

.vip-down-icon{
  position: absolute;
  color: #fff;
  right: 0;
  top:50%;
  transform: translate(-30%,-50%);
}


/*************CHARGE MENU***********/

.menu-charge{
  position: relative;
}

.charge-label{
  display: inline-block;
  background-color: #fff;
  border: 0.1rem solid #C9C9C9;
  font-size: 1rem;
  padding: 0.8rem;
  border-radius: 0.2rem;
  width: 6.6rem;
  text-align: center;
  position: relative;
}

.charge-label:hover{
  color:#fff;
  background-color: #31C27C;
}

.charge-label:hover .charge-up-icon{
  color: #fff;
}

.menu-charge:hover .charge-buy-btn{
  display: block;
}

.menu-charge:hover .charge-charge-btn{
  display: block;
}

.menu-charge:hover .charge-down-icon{
  display: none;
}
.menu-charge:hover .charge-up-icon{
  display: inline;
}

.charge-buy-btn{
  display: none;
  position: absolute;
  bottom: 0;
  color: #000;
  background-color: #fff;
  border: 0.1rem solid #C9C9C9;
  font-size: 1rem;
  padding: 0.8rem 0;

  width: 6.6rem;
  transform: translateY(96%);
  &:hover{
    background-color: #31C27C;
    color:#fff;
  }
}


.charge-charge-btn{
  display: none;
  position: absolute;
  bottom: 0;
  color: #000;
  background-color: #fff;
  border: 0.1rem solid #C9C9C9;
  font-size: 1rem;
  padding: 0.8rem 0;
  width: 6.6rem;
  border-top-color: rgba(0,0,0,0%);
  border-radius: 0 0 0.2rem 0.2rem;
  transform: translateY(195%);
  &:hover{
    background-color: #31C27C;
    color:#fff;
  }
}

.charge-up-icon{
  display: none;
  position: absolute;
  color: #000;
  right: 0;
  top:50%;
  transform: translate(-30%,-50%);
}

.charge-down-icon{
  position: absolute;
  color: #000;
  right: 0;
  top:50%;
  transform: translate(-30%,-50%);
}

.charge-charge-btn:hover .charge-invoice-btn{
  display: block;
}
.charge-invoice-btn{
  display: none;
  position: absolute;
  bottom: 0;
  color: #000;
  background-color: #fff;
  border: 0.1rem solid #C9C9C9;
  font-size: 1rem;
  padding: 0.8rem 0;
  width: 6.6rem;
  //border-radius: 0.2rem 0.2rem 0.2rem 0.2rem;
  transform: translateX(99%);
  &:hover{
    background-color: #31C27C;
    color:#fff;
  }
}

.header-hr{
  width: 80%;
  border:0;
  border-top: 1px solid #eee;
}
/*****************SECOND HEADER*********************/



.second-header{
  ///*second-header上方加一条分割线*/
  //border-top: 1px solid #eee;
  height: 4.5rem;
  display: flex;
  align-items: center;
  justify-content: center;
}
.second-nav-list{
  list-style: none;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 3.2rem;
  gap: 4.0rem;
}

.second-nav-link:link,
.second-nav-link:visited {
  display: inline-block;
  text-decoration: none;
  color: #333;
  //font-weight: 500;
  font-size: 1.2rem;
  transition: all 0.3s;
}

.second-nav-link:hover,
.second-nav-link:active {
  color: #31C27C;
}