/*************************************************/
/*歌单推荐 区*/
/*************************************************/
.section-playlist-recommendation {
  background-color: #fafafa;
  height: 35rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 1.6rem;
  position: relative;
}

.img-box {
  display: flex;
  gap: 1.4rem;
  width: 806px;
  overflow: hidden;
}

.img-container {
  overflow: hidden;
  position: relative;
  cursor: pointer;
}

.img-container::after {
  display: block;
  content: "";
  position: absolute;
  top: 50%;
  left: 50%;
  width: 3.6rem;
  height: 3.6rem;
  border-radius: 50%;
  transform: translate(-50%, -50%);
  background-image: url("svg/cover_play.png");
  background-size: cover;
  opacity: 0;
  transition: all 0.5s;
}

.img-container:hover::after {
  display: block;
  width: 4.5rem;
  height: 4.5rem;
  transform: translate(-50%, -50%);
  opacity: 1;
}

.section-playlist-img {
  height: 15rem;
  transition: all 0.3s ease-out;
}

.img-container:hover .section-playlist-img {
  transform: scale(1.1);
}

.playlist-name:link,
.playlist-name:visited {
  display: inline-block;
  margin-top: 1.2rem;
  font-size: 1rem;
  cursor: pointer;
  text-decoration: none;
  transition: all 0.3s;
  color: black;
}

.playlist-name:active,
.playlist-name:hover{
  color: #31C27C;
}

.play-times {
  margin-top: 0.6rem;
  font-size: 1rem;
  color: #878787;
}

.left-btn {
  border: none;
  background-color: #ececec;
  padding: 3rem 1.5rem;
  position: absolute;
  top: 50%;
  left: 0;
  transform: translate(-100%, -50%);
  display: flex;
  justify-content: center;
  align-items: center;
  &:hover {
    background-color: #e1e1e1;
  }
  transition: all 0.5s;
  opacity: 0.2;
  cursor: pointer;
}

.right-btn {
  border: none;
  background-color: #ececec;
  padding: 3rem 1.5rem;
  position: absolute;
  top: 50%;
  right: 0;
  transform: translate(100%, -50%);
  display: flex;
  justify-content: center;
  align-items: center;
  &:hover {
    background-color: #e1e1e1;
  }
  transition: all 0.5s;
  opacity: 0.5;
  cursor: pointer;
}

.left-icon {
  width: 3.2rem;
  height: 3.2rem;
}

.right-icon {
  width: 3.2rem;
  height: 3.2rem;
}

.section-playlist-recommendation:hover .left-btn {
  transform: translate(0, -50%);
  opacity: 1;
}

.section-playlist-recommendation:hover .right-btn {
  transform: translate(0, -50%);
  opacity: 1;
}

.img-box-sub1{
  display: flex;
  gap: 1.4rem;
  transition: all 0.4s ease-out;
}

