.section-rating {
  background-color: #f3f3f3;
  height: 50rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 0.4rem;
  position: relative;
}

.figure-out {
  overflow: hidden;
  position: relative;
  cursor: pointer;
  display: flex;
  row-gap: 0;
  column-gap: 0;
}

.container {
}

.song-name {
  color: #fff;
}

.singer-names {
  white-space: nowrap; /* 禁止换行 */
  overflow: hidden; /* 隐藏溢出内容 */
  text-overflow: ellipsis;
  color: #fff;
}

.song-time {
  align-self: center;
  font-size: 1rem;
  color: #878787;
}


.song-name:link,
.song-name:visited {
  display: inline-block;
  width: 11rem;
  margin-bottom: 1.2rem;
  font-size: 1rem;
  cursor: pointer;
  text-decoration: none;
  transition: all 0.3s;
  color: #fff;

  white-space: nowrap; /* 禁止换行 */
  overflow: hidden; /* 隐藏溢出内容 */
  text-overflow: ellipsis;
}

.song-name:active,
.song-name:hover {
  color: #fff;
  white-space: nowrap; /* 禁止换行 */
  overflow: hidden; /* 隐藏溢出内容 */
  text-overflow: ellipsis;
}

.singer-name:link,
.singer-name:visited {
  display: inline-block;
  margin-bottom: 1.2rem;
  font-size: 1rem;
  cursor: pointer;
  text-decoration: none;
  transition: all 0.3s;
  color: #fff;
  white-space: nowrap; /* 禁止换行 */
  overflow: hidden; /* 隐藏溢出内容 */
  text-overflow: ellipsis;
}

.singer-name:active,
.singer-name:hover {
  color: #fff;
  white-space: nowrap; /* 禁止换行 */
  overflow: hidden; /* 隐藏溢出内容 */
  text-overflow: ellipsis;
}

.img-container {
  overflow: hidden;
  position: relative;
  cursor: pointer;

  width: 15rem;
  height: 32rem;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 0.8rem;
  //background-size: 50% 50%; /* 放大背景图 */
  //background-position: 0 0; /* 显示左上 1/4 区域 */
  //background-size: auto;
  z-index: 2;
}


.img-container::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-image: url("img/rating/bg.webp");
  background-size: cover;
  background-position: center;
  transition: transform 0.5s ease;
  z-index: -1;
  transform: scale(1.1);
}

[id="item0"] .img-container::before{
  background-position: 0 0; /* 显示左上 1/4 区域 */
}

[id="item1"] .img-container::before{
  background-position: 0 0; /* 显示左上 1/4 区域 */
}

[id="item2"] .img-container::before{
  background-position: 25% 0; /* 显示左上 1/4 区域 */
}

[id="item3"] .img-container::before{
  background-position: 50% 0; /* 显示左上 1/4 区域 */
}

[id="item4"] .img-container::before{
  background-position: 75% 0; /* 显示左上 1/4 区域 */
}
.img-container::after {
  display: block;
  content: "";
  position: absolute;
  top: 50%;
  left: 50%;
  width: 3.0rem;
  height: 3.0rem;
  border-radius: 50%;
  transform: translate(-50%, -250%);
  background-image: url("svg/cover_play.png");
  background-size: cover;
  opacity: 0;
  transition: all 0.5s;
}

.img-container:hover::after {
  display: block;
  width: 3.6rem;
  height: 3.6rem;
  transform: translate(-50%, -215%);
  opacity: 1;
}
.img-container:hover:before{
  transform: scale(1.2);
}
.section-rating-img {
  height: 20.9rem;
  transition: all 0.3s ease-out;
}

.img-container:hover .section-rating-img {
  transform: scale(1.1);
}

.left-btn {
  border: none;
  background-color: #ececec;
  padding: 3rem 1.5rem;
  position: absolute;
  top: 50%;
  left: 0;
  transform: translate(-100%, -50%);
  display: flex;
  justify-content: center;
  align-items: center;
  &:hover {
    background-color: #e1e1e1;
  }
  transition: all 0.5s;
  opacity: 0.2;
  cursor: pointer;
}

.right-btn {
  border: none;
  background-color: #ececec;
  padding: 3rem 1.5rem;
  position: absolute;
  top: 50%;
  right: 0;
  transform: translate(100%, -50%);
  display: flex;
  justify-content: center;
  align-items: center;
  &:hover {
    background-color: #e1e1e1;
  }
  transition: all 0.5s;
  opacity: 0.5;
  cursor: pointer;
}

.left-icon {
  width: 3.2rem;
  height: 3.2rem;
}

.right-icon {
  width: 3.2rem;
  height: 3.2rem;
}

.section-rating:hover .left-btn {
  transform: translate(0, -50%);
  opacity: 1;
}

.section-rating:hover .right-btn {
  transform: translate(0, -50%);
  opacity: 1;
}

.img-box-sub1 {
  display: flex;
  gap: 1.4rem;
  transition: all 0.4s ease-out;
}

.img-box {
  display: flex;
  gap: 1.0rem;
  width: 81rem;
  overflow: hidden;
  margin-top: 1.4rem;
}

.play-all-btn {
  position: absolute;
  background-color: #f3f3f3;
  border: 0.1rem solid #c9c9c9;
  padding: 0.6rem 1.2rem;
  font-size: 1.2rem;
  left:-27.7rem;
  display:flex;
  justify-content: center;
  align-items: center;
  gap: 0.6rem;
  cursor: pointer;
}

.play-all-btn:hover {
  background-color: #ededed;
}
.second-links-wrapper{
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 2.4rem;
}

.play-icon{
  color: #999999;
  height: 3.2rem;
  width: 3.2rem;
}

.classification{
  display: inline-block;
  padding: 0.5rem;
  background-color: #fff;
  color:#000;
  border-radius: 0.2rem;
  font-size: 0.8rem;
}

.figure-title{
  position: absolute;
  font-size: 1.0rem;
  display: flex;
  gap: 0.8rem;
  align-items: center;
  justify-content: center;
  left: 0;
  bottom: 0;
  color:#fff;
  transform: translate(6%, -50%);
}

.box-box{
  display: block;
  flex-direction: column;
  justify-content: left;
  width: 15rem;
  align-items: center;
  color: #fff;
  font-size: 1rem;
  padding: 1rem;
  margin-top: 1.2rem;
}

.top-Title{
  color: #fff;
  font-size: 1.2rem;
  font-weight: 300;
}

.title{
  color: #fff;
  font-size: 1.8rem;
}

.hr{
  width: 18%;
  border:0;
  border-top: 1px solid #eee;
  margin-top: 1.6rem;
}

.song-btwn-box{
  display: flex;
  gap: 1.6rem;
}

.more-icon{
  width: 1.2rem;
  height: 1.2rem;
  color: #555555;
}

.more-btn{
  position: absolute;
  background-color: inherit;
  border: none;
  padding: 0.6rem 1.2rem;
  font-size: 0.9rem;
  right: -37rem;
  top: 0;
  display:flex;
  justify-content: center;
  align-items: center;
  gap: 0.2rem;
  cursor: pointer;
}

.h1-box{
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
}