/*************************************************/
/*footer åŒº*/
/*************************************************/

.footer {
  padding: 5.8rem 0;
  background-color: #333333;
  color: #7f7f7f;
  display: flex;
  flex-direction: column;
  //justify-content: center;
  align-items: center;
  gap:1rem;
}

.container-footer{
  display: grid;
  grid-template-columns: 1.5fr 1.5fr 1fr;
  width: 55%;
  gap: 3.5rem;
  margin-bottom: 5rem;
}

.logo-col {
  display: flex;
  flex-direction: column;
}

.footer-logo {
  display: block;
  margin-bottom: 3.2rem;
}

.social-links {
  list-style: none;
  display: flex;
  gap: 1rem;
  margin-left: -1rem;
}

.social-links2 {
  list-style: none;
  display: grid;
  gap: 1rem;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  margin-left: -0.6rem;
}

.social-icon {
  height: 4rem;
  width: 4rem;
}

.copyright {
  font-size: 0.8rem;
  line-height: 1.6;
  color: #767676;
  margin-top: auto;
}

.footer-heading {
  font-size: 1.1rem;
  font-weight: 500;
  margin-bottom: 3.2rem;
  color: #7f7f7f;
}

.contacts {
  font-style: normal;
  font-size: 1.6rem;
  line-height: 1.6;
}

.address {
  margin-bottom: 2.4rem;
}

.footer-nav {
  list-style: none;
  display: flex;
  flex-direction: column;
  gap: 2.4rem;
}

.footer-icon{
  height: 2.4rem;
  width: 2.4rem;
  color: #7f7f7f;
}
.footer-link-icon:hover .footer-icon{
  color: #31C27C;
}
.footer-link-icon:link,
.footer-link-icon:visited {
  text-decoration: none;
  font-size: 1rem;
  color: #7f7f7f;
  transition: all 0.3s;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 1rem;
  width: 4.8rem;
  height: 4.8rem;
}

.footer-link-icon:hover,
.footer-link-icon:active {
  color: #31C27C;
}

.footer-link:link,
.footer-link:visited {
  text-decoration: none;
  font-size: 1rem;
  color: #767676;
  transition: all 0.3s;

}

.footer-link:hover,
.footer-link:active {
  color: #31C27C;
}

.footer-link2:link,
.footer-link2:visited {
  text-decoration: none;
  font-size: 0.8rem;
  color: #767676;
  transition: all 0.3s;
}

.footer-link2:hover,
.footer-link2:active {
  color: #31C27C;
}

.relate-link{
  list-style: none;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 0.5rem;
}

.footer-ul2{
  display: flex;
  gap: 0.5rem;
  list-style: none;
  font-size: 0.8rem;
}

.footer-ul3{
  display: flex;
  gap: 0.5rem;
  list-style: none;
  font-size: 0.8rem;
}

.li-two-col{
  grid-column: 1/3 ;
}

.right-nav{
  margin-left: 3rem;
}